[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Asyny-big
	email = 162413234+Asyny-big@users.noreply.github.com
[core]
	autocrlf = input
